# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
mp_env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.installed.cfg
*.egg

# MediaPipe / ML Models
*.task
*.tflite
checkpoint/

# Datasets
hand_digits_data/
dataset/
*.zip
# *.csv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
external/